# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# Android/Gradle
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
*.iml

# IDE
.idea/
.vscode/
